
h1
  {
  font-family: "Cairo" !important;
  font-weight: normal;
  font-size: 32px;
  }

.panel {
  margin-bottom: 0px !important;
}

#search
  {
  background-color: #F5F5F5;
  }
  #search .panel-body
    {
    padding-bottom: 12px;
    margin-bottom: 0.2px !important;
    }

  #search .flexdatalist
  {
    padding-top: 5px;
    border-color: azure;
    border-radius: 5px;
    border_width: 0.5px;
    line-height: 22px;
  }
  #search .flexdatalist-multiple li
  {
    line-height: 20px;
  }

.flexdatalist-multiple li.input-container, .flexdatalist-multiple li.input-container input {
  border: none;
  height: auto;
  padding: 0 0 0 0px;
  width: 100px;
}

#concept-uri-wrapper
  {
  margin-left: -3px;
  border-color: gray;
  }

#examples
  {
  font-size: smaller;
  margin-top: 0.5em;
  }

#examples a
  {
  text-decoration: none;
  border-bottom: 1px dotted;
  cursor: pointer;
  transition: color 0.3s ease-out;
  }
  #examples a:hover
    {
    color: #d04000;
    border-bottom-color: #d04000;
    transition: color 0s ease-out;
    }

#search hr
  {
  margin-top: 7px;
  margin-bottom: 5px;
  }

#context .checkbox-inline+.checkbox-inline
  {
  margin-left: 0;
  }
#context .checkbox-inline
  {
  width: 9em;
  /*border: 1px solid red;*/
  padding-top: 7px;
  padding-bottom: 4px;
  }

label.checkbox-inline
  {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-family: "Cairo";
  font-weight: normal;
  font-size: 16px;
  }

#context label .count
  {
  font-size: smaller;
  color: darkgray;
  }

select
{
  font-family: "Cairo" !important;
  font-weight: normal;
  font-size: 16px !important;
  border-radius: 3px;
  border: none;
}

select:focus
{
  outline: none !important;
  box-shadow: 0 0 3pt 2pt white;
}




h5
  {
  font-family: "Cairo" !important;
  font-weight: normal;
  font-size: 16px !important;
  }

#result table th.notation
  {
  padding-left: 0px;
  }
#result table td
  {
  vertical-align: middle;
  }
#result table td.context
  {
  font-size: smaller;
  }
#result table td .show-details
  {
  float: right;
  }

#load-more-wrapper
  {
  text-align: center;
  }
#load-more
  {
  width: 15em;
  }

#formula
  {
  padding-bottom: 1em;
  padding-top: 0.5em
  }

#variables-header
  {
  padding-top: 0.5em;
  }

#variables table
  {
  width: auto;
  }

#variables .classlabel
  {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-out;
  }
#variables .classlabel:hover
  {
  color: #d04000;
  transition: color 0s ease-out;
  }

#journal .pdf
  {
  white-space: nowrap;
  }

#about dl ul, #about dl ol
  {
  padding-left: 15px;
  }

#about .list-inline>li
  {
  padding-right: 0px;
  }

#footer
  {
  opacity: 0.95;
  margin-bottom: -5px;
  }

#footer .nav i.fa
  {
  font-size: 1.2em;
  }


.fa-external-link
  {
  padding-left: 0.35em;
  }

.btn
  {
  outline: none !important;
  }

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  font-family: "Cairo";
  font-weight: bolder;
  color: ghostwhite !important;
  border-color: #447298 !important;
 background-color:#426983 !important;
  background-image: linear-gradient(to bottom, #49728f, #426983 100%) !important;
  border-bottom-left-radius: 4px  !important;
  border-top-left-radius: 4px  !important;
  margin-left: 10px !important;
}

@-webkit-keyframes anim1 {from {background-color: lightyellow ;} to {}}
        @keyframes anim1 {from {background-color: lightyellow ;} to {}}
#result table tr td
  {
  -webkit-animation: anim1 1.5s;
          animation: anim1 1.5s;
  }

body
  {
  padding-bottom: 100px;
  overflow-y: scroll;
  }

body.modal-open, .modal
  {
  overflow-y: hidden;
  }
body::-webkit-scrollbar
  {
  width: 12px;
  }
body::-webkit-scrollbar-track
  {
  background: white;
  }
body::-webkit-scrollbar-thumb
  {
  border-radius: 3px;
  border: 1px solid rgba(190, 190, 190, 1);
  background: rgba(240,240,240,1);
  }
body::-webkit-scrollbar-thumb:hover
  {
  background: rgba(230,230,230,1);
  }
body::-webkit-scrollbar-thumb:active
  {
  border-color: rgba(160, 160, 160, 1);
  background: rgba(216, 216, 216, 1);
  }

.cd-top {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: fixed;
  bottom: 40px;
  left: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(85, 117, 132, 0.8) url(cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: .8;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #7494aa;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

#mypanel {
  margin-top: 0px;
  margin-bottom: 0px !important;
  height: 50px;
  display: none;
}

#mypanel .panel-body
{
  margin-bottom: 0px !important;
}

#mypanel p {
  text-align: center;
  color: white;
}
.slide {
  margin: 0;
  padding: 0;
}
.pull-me {
  display: block;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 20px;
  color: #505050;
  font-family: "Cairo";
  font-size: 14px;
  background: #F5F5F5;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 20px
}

.pull-me:hover{
  color: #1b51a2;
  text-decoration: none;
}

.pull-me p {
  text-align: center;
}

